.description {
  margin-bottom: 20px;
}

.inputBox {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;

  @media (max-width: 768px) {
    width: 300px;
  }

  &__input {
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 16px;
    border-bottom: 2px solid #9B9B9B;
    padding: 10px 0;
    background: transparent;
    transition: 0.3s ease;
  }

  &__input::placeholder {
    color: #0086FF;
    opacity: 1;
    color: transparent;
  }

  &__input:-ms-input-placeholder {
    color: #0086FF;
  }

  &__input::-ms-input-placeholder {
    color: #0086FF;
  }

  &__label {
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    color: #0086FF;
    font-size: 10px;
    transition: 0.3s ease;
  }
}

.inputBox__input:placeholder-shown~.inputBox__label {
  font-size: 16px;
  top: 10px;
}

.inputBox__input:focus ~ .inputBox__label {
  display: block;
  position: absolute;
  top: -10px;
  font-size: 10px;
}