@import "../../theme/Theme.style.scss";

.Toolbar {
    width: 100%;
    background: linear-gradient(248.25deg, $primary-gradient-0 -14.06%, $primary-gradient-1 99.58%);
    border-radius: 0px 0px 13px 13px;

    .toolbar-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px 16px 0px;

        .toolbar-left-buttons,
        .toolbar-right-buttons {
            flex: 1;
            max-width: 30%;
            display: flex;
            align-items: center;
            align-content: center;
        }

        .toolbar-left-buttons {
            justify-content: start;
        }

        .toolbar-right-buttons {
            justify-content: end;
        }

        .toolbar-title {
            flex: 1;
            width: 100%;
            color: $light;
            font-weight: bold;
            padding: 12px 0;
        }

        .toolbar-btn {
            padding: 10px;
            background: transparent;
            border: none;
            color: $light;

            &:active {
                background-color: $light-transparent;
                border-radius: 8px;
            }
        }
    }
}