.containerSlide {
    display: flex;
    margin-left: 40px;
    cursor: grab;
}

.img {
    pointer-events: none;
    margin-right: 20px;
}

@media (min-width: 1000px) {
    .carousel {
        justify-content: center;
    }

    .carousel img {
        margin: 0 10px;
    }
}